root = true

############################
# Global settings
############################
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

############################
# C# files
############################
[*.cs]

# 'var' usage
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = false:suggestion

# Qualification preferences
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

# Expression-bodied members (keep conservative)
csharp_style_expression_bodied_methods = false:suggestion
csharp_style_expression_bodied_properties = true:suggestion

csharp_style_namespace_declarations = file_scoped:warning

# Braces and new lines
csharp_prefer_braces = true:suggestion

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

############################
# XML files (csproj, props, config)
############################
[*.xml]
indent_size = 2

############################
# JSON files
############################
[*.json]
indent_size = 2

